.oderHead-main {
  background-color: #eee;
  height: auto;
  display: flex;
  padding-top: 50px;
  justify-content: space-around;
  /* align-items: center; */
  flex-wrap: wrap;
}
.orderCardCart {
  width: 500px;
  height: auto;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 30px;
}
.orderCardCarts {
  width: 500px;
  height: auto;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 30px;
}

.orderCardCarts div {
  font-family: "Poppins";
  padding-top: 20px;
  padding-left: 30px;
}
.orderCardCartst {
  width: 500px;
  height: auto;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 30px;
}

.orderCardCartst .dive {
  font-family: "Poppins";
  padding-top: 20px;
  padding-left: 30px;
}
.order-items-display {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 30px;
}
.img-order {
  width: auto;
  border-radius: 8px;
  height: 100px;
  object-fit: contain;
}
.textfield-write {
  width: 400px;
}
.order-total {
  display: flex;
  justify-content: space-around;
  gap: 240px;
}
@media screen and (max-width: 760px) {
  .orderCardCart {
    width: 430px;
  }
  .orderCardCarts {
    width: auto;
  }
  .orderCardCartst {
    width: auto;
  }
  .order-total {
    gap: 0;
  }
  /* .textfield-write {
    width: 250px;
  } */
}
@media screen and (max-width: 480px) {
  .order-total {
    gap: 0;
  }
  .orderCardCart {
    width: 270px;
  }
  .orderCardCarts {
    width: 270px;
  }
  .orderCardCartst {
    width: 270px;
  }
  .orderCardCarts div {
    font-family: "Poppins";
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .textfield-write {
    width: 200px;
  }
  .order-items-display {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 30px;
    flex-direction: column;
  }
  .order-items-display div {
    padding-top: 10px;
    text-align: center;
  }
}
