.box-header-div {
  margin-bottom: 60px;
}
.now-music-sm {
  display: none;
}
.category-nav {
  margin-left: 50px;
}
@media screen and (max-width: 768px) {
  .box-header-div {
    margin-bottom: 50px;
  }
  .now-music-sm {
    display: flex;
    justify-content: left;
    margin-left: 20px;
  }
}
@media screen and (max-width: 480px) {
  .box-header-div {
    margin-bottom: 40px;
  }
}
